ellipsis()
  text-overflow: ellipsis
  white-space: nowrap
  overflow: hidden

hTitle()
  //background: rgba(158, 158, 158, 0.34)
  //background: red
  line-height: 2.4rem
  font-size: 1.2rem
  text-indent: .8rem